body { background: #23355d; background-image: url("../images/bg-st1.jpg"); }
#main-wrapper { margin:0 !important; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
#main-wrapper .login-box { min-width:330px; width:auto; max-width: 360px; background-color: #fff; padding: 20px 20px; border-radius: 10px; border-left: 3px solid #b2c3ff !important; border-top: 3px solid #b2c3ff !important; }
